.nav-menu-container{
    background-color:black !important;
    width: 100%;
}
.lg4{
    height: 100px;
    padding: 3px;
}
/* .itslogo{ */
   
    /* border-radius: 10%; */
    /* box-shadow: 3px 3px 5px black; */
/* } */
.aboutus-section-1,.aboutus-section-2{
    min-height: 300px;
    width:80%;
    margin-left: 20px;
    margin: 20px;
    margin-right: 20px;

    border: 1px solid gray;
}
.calendar
{
	width: 100%;
	/* background: #FFFFFF; */
	padding-top: 115px;
	padding-bottom: 111px;
	padding-left: 141px;
	padding-right: 141px;
}
.calendar_container
{
	width: 100%;
	background: #f0f2f6;
}
.calendar_title_bar
{
	width: 100%;
	height: 68px;
	padding-left: 26px;
	background-color: #4867c0;
	background-image: linear-gradient(to right, #030305, #313233);
	background: #4867c0;
	background: linear-gradient(to right, #4867c0, #329fec);
}
.calendar_icon
{
	width: 27px;
	height: 25px;
}
.calendar_icon img
{
	max-width: 100%;
}
.calendar_title
{
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: 19px;
}
.calendar_items
{
	width: 100%;
	padding-top: 55px;
	padding-bottom: 61px;
}
.calendar_item
{
	width: 100%;
	padding-left: 39px;
}
.calendar_item:not(:last-child)
{
	margin-bottom: 35px;
}
.calendar_item_image
{
	width: 103px;
	height: 103px;
	border-radius: 50%;
	overflow: hidden;
}
.calendar_item_image img
{
	max-width: 100%;
}
.calendar_item_time
{
	margin-left: 74px;
}
.calendar_item_time div:first-child
{
	font-size: 30px;
	font-weight: 500;
	color: #4c4c4c;
	line-height: 0.75;
}
.calendar_item_time div:last-child
{
	font-size: 14px;
	font-weight: 500;
	color: #4c4c4c;
	margin-top: 11px;
}
.calendar_item_text
{
	margin-left: 111px;
}
.calendar_item_text div:first-child
{
	font-size: 18px;
	font-weight: 500;
	color: #4c4c4c;
}
.calendar_item_text div:nth-child(2)
{
	font-size: 16px;
	font-weight: 400;
	color: #888888;
	margin-top: 2px;
}
.calendar_item_text div:last-child
{
	font-size: 14px;
	font-weight: 400;
	color: #888888;
	margin-top: 5px;
}
.btn-lg-sn
{
    width: 100px;
    color:white;
    background: transparent;
    margin-right: 4px;
}
.mobile-navbar{
    display: none;
}
.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
  }
  .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 
      0 0.25em 0 0 black,
      0 0.5em 0 0 black;
  }